PORT=5000
DB_CNN=mongodb://localhost:27017/hospitaldb
MONGO_URL =mongodb://localhost:27017/hospitaldb
# MONGO_URL=mongodb://mongo-user:123456@localhost:27017
MONGO_DB_NAME =hospitaldb
JWT_SEED=raa
JWT_SECRET=Holsdj28397kjHd7@asdyui3897k

SEND_EMAIL=false
MAILER_SERVICE=res
MAILER_EMAIL=raularmasbx@gmail.com  
MAILER_SECRET_KEY=ras
WEBSERVICE_URL=wi